<div style="margin-top: 50px;" class="mission-two">
  <h4>Meet our team</h4>
</div>


<div class="cards">
  <div class="card-category">
    <div class="subscribe-btn-text">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <p class="desc-head">Jan</p>
      <p>Don't miss out on the latest CHOY features.</p>
    </div>
  </div>

  <div class="card-category">
    <div class="subscribe-btn-text">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <p class="desc-head">Max</p>
      <p>Don't miss out on the latest CHOY features.</p>
    </div>
  </div>

  <div class="card-category">
    <div class="subscribe-btn-text">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <p class="desc-head">Metin</p>
      <p>Don't miss out on the latest CHOY features.</p>
    </div>
  </div>

  <div class="card-category">
    <div class="subscribe-btn-text">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <p class="desc-head">Tim</p>
      <p>Don't miss out on the latest CHOY features.</p>
    </div>
  </div>

</div>


