<div style="margin-top: 30px;" class="mission-two">
  <h4>Meet our team</h4>
</div>

<div class="margin-con">
  <div class="idea-desc-about">
    <p>The CHOY team brings together people passionate about: fashion, sustainability, design, technology, e-commerce, Pizza Fridays, and bowling… in no specific order. Learn more about us.</p>
  </div>
</div>

<div class="cards-about">
  <div class="card-category">
    <div class="subscribe-btn-text">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <p class="desc-head">Jan</p>
      <p>Don't miss out on the latest CHOY features.</p>
    </div>
  </div>

  <div class="card-category">
    <div class="subscribe-btn-text">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <p class="desc-head">Max</p>
      <p>Don't miss out on the latest CHOY features.</p>
    </div>
  </div>

  <div class="card-category">
    <div class="subscribe-btn-text">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <p class="desc-head">Metin</p>
      <p>Don't miss out on the latest CHOY features.</p>
    </div>
  </div>

  <div class="card-category">
    <div class="subscribe-btn-text">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <p class="desc-head">Tim</p>
      <p>Don't miss out on the latest CHOY features.</p>
    </div>
  </div>
</div>


<div class="carousel-container">
  <div class="container">
    <div>
      <div class="carousel slide" id="carouselExample" data-ride="">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-card">
              <div class="card-img">
                test
              </div>
              <div class="card-dec-person">
                <h4>Jan</h4>
                <p class="person-job">App Developer</p>
                <p class="person-desc">Dion is our Bootcamp Manager in Munich. With a background in Investment, Dion quit is job to find out how the web is built.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-card">
              <div class="card-img">
                test
              </div>
              <div class="card-dec-person">
                <h4>Max</h4>
                <p class="person-job">Business Operations</p>
                <p class="person-desc">Dion is our Bootcamp Manager in Munich. With a background in Investment, Dion quit is job to find out how the web is built.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-card">
              <div class="card-img">
                test
              </div>
              <div class="card-dec-person">
                <h4>Metin</h4>
                <p class="person-job">Web Developer</p>
                <p class="person-desc">Dion is our Bootcamp Manager in Munich. With a background in Investment, Dion quit is job to find out how the web is built.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-card">
              <div class="card-img">
                test
              </div>
              <div class="card-dec-person">
                <h4>Tim</h4>
                <p class="person-job">Business Operations</p>
                <p class="person-desc">Dion is our Bootcamp Manager in Munich. With a background in Investment, Dion quit is job to find out how the web is built.</p>
              </div>
            </div>
          </div>
        </div>
        <a href="#carouselExample" class="carousel-control-prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a href="#carouselExample" class="carousel-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>




