<div style="margin-top: 50px;" class="mission-two">
  <h4>Let's get in touch</h4>
</div>

<div id="instructions" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <div id="instructions-page" class="margin-con">
    <div class="subscribe-btn-text">
      <i class="fas fa-phone-alt"></i>
      <p class="desc-head">Phone</p>
      <p>+49 176 66666666</p>
    </div>
  </div>

  <div class="subscribe-btn-text">
    <i class="fas fa-envelope"></i>
    <p class="desc-head">Email</p>
    <p>choy-web@placeholder.com</p>
  </div>
</div>

<%= image_tag('DetailScreen1.png', class:"like-img") %>
