<div class="subscribe-btn-text">
  <i class="fas fa-envelope"></i>
  <p class="desc-head">Get it Touch</p>
  <p>If you have any questions about the App, please get in touch with us. We're happy to talk to you.</p>
  <%= link_to "Subscribe", subscribers_new_path , class: "btn btn-ghost" %>
</div>
