
<div id="banner">
  <h1 class="banner-text">CHOY</h1>
</div>


<div class="introduction">
  <h4>Shopping doesn’t have to be hard.</h4>
  <h4>We make it easy.</h4>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Elimination of choice overload
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Customizable experience
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Support sustainable and small brands
  </div>
</div>




<h3 class="search-title">
  New
  <span id="banner-typed-text"></span>
</h3>


<div class="idea-div-intro">
  <p class="text">Idea</p>
  <hr/>
</div>





<div id="subscribe-div" class="container container-form">
  <div class="row container-row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 form-login">
      <h2>Subscribe</h2>
      <%= simple_form_for @subscriber do |f| %>
      <div class="form-inputs">
       <%= f.error :base %>
       <%= f.input :email, required: false, autofocus: true, placeholder: "bob@gmail.com" %>
     </div>
     <div class="form-actions">
      <%= f.button :submit, "Subscribe", class: "btn btn-ghost" %>
    </div>
    <% end %>
  </div>
</div>
</div>


<script>
  var typed = new Typed('#typed', {
    stringsElement: '#typed-strings'
  });
</script>

