<div style="margin-top: 30px;" class="mission-two">
  <h4>Interested in testing CHOY?</h4>
</div>

<div id="instructions" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <div id="instructions-page" class="margin-con">
    <div class="subscribe-btn-text">
      <i class="fab fa-app-store"></i>
      <p class="desc-head">Get the Prototype</p>
      <p style="color: grey; font-size: smaller;">Only available for Apple Devices</p>
      <ol>
        <li>Download the Testflight App from the App Store <a href="https://apps.apple.com/de/app/testflight/id899247664?l=en">here</a></li><br>
        <li>After the download is complete click <a href="https://testflight.apple.com/join/jr2POclG">here</a> to access the CHOY prototype</li><br>
        <li>After you have used the app, tell us about your experience <a href="https://forms.gle/fGq2wGTwGXJRRBSH9">here</a></li>
      </ol>
    </div>
  </div>



  <div class="subscribe-btn-text">
    <i class="fas fa-envelope"></i>
    <p class="desc-head">Subscribe for more</p>
    <p>Don't miss out on the latest CHOY features. We'll notify you when we have news for you.</p>
    <%= link_to "Subscribe", subscribers_new_path , class: "btn btn-ghost" %>
  </div>
</div>
