#banner {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .banner-text {
    border: 3px solid black;
    padding: 20px 30px;
    text-decoration: none;
  }
  a  {
    color: black;
    scroll-behavior: smooth;
  }
}

.banner-text:hover {
  text-decoration: none;
}

.banner-text:link {
  text-decoration: none;
}

.banner-text:visited {
  text-decoration: none;
}

.banner-text:active {
  text-decoration: none;
}
